In [1]:
juju=('naughty','active')
len(juju)

2

In [2]:
juju=('1','one')
juju

('1', 'one')

In [3]:
len(juju)

2

In [5]:
juju.index('one')

1

In [6]:
juju.count('1')

1

In [8]:
u=set()

In [11]:
u.add('mangalore')
u

{'mangalore'}

In [12]:
u.add(5)
u

{5, 'mangalore'}

In [13]:
list=('Mangalore','Mangalore','Bangalore','Bangalore',1,1,1,2,2,2,4,4,5,5)

In [14]:
set(list)

{1, 2, 4, 5, 'Bangalore', 'Mangalore'}

In [15]:
dict={'player1':100,'player2':89}
dict

{'player1': 100, 'player2': 89}

In [21]:
dict={'player1':[91,85,75],'player2':[45,78,85]}
dict

{'player1': [91, 85, 75], 'player2': [45, 78, 85]}

In [25]:
dict['player2']

[45, 78, 85]

In [27]:
dict['player1'][2]

75

In [33]:
dict['player1']= dict['player1']
dict

{'player1': [91, 85, 75], 'player2': [45, 78, 85]}

In [50]:
dict1={'value1':6996,'value2':5625}
dict1

{'value1': 6996, 'value2': 5625}

In [51]:
dict1['value1']

6996

In [55]:
dict1['value1']=dict1['value1'] - 6969
dict1

{'value1': -7080, 'value2': 5625}

In [61]:
dict1['value1'] -=258
dict1

{'value1': -8628, 'value2': 5625}

In [62]:
d1={}

In [64]:
d1['Food']=['Biryani']

In [65]:
d1['Sports']=['IPL']

In [66]:
d1

{'Food': ['Biryani'], 'Sports': ['IPL']}

In [68]:
d2={'Food':{'Restaurants':{'Menu':'Biryani'}}}
d2

{'Food': {'Restaurants': {'Menu': 'Biryani'}}}

In [69]:
d2['Food']['Restaurants']['Menu']

'Biryani'

In [70]:
d2['Food']#['Restaurants']['Menu']

{'Restaurants': {'Menu': 'Biryani'}}

In [71]:
d2['Food']['Restaurants']#['Menu']

{'Menu': 'Biryani'}

In [72]:
d3={'player1':55,'player2':75,'player3':85}

In [73]:
d3.keys()

dict_keys(['player1', 'player2', 'player3'])

In [74]:
d3.values()

dict_values([55, 75, 85])

In [75]:
d3.items()

dict_items([('player1', 55), ('player2', 75), ('player3', 85)])

In [76]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [81]:
def greetings(name):
    print('I am %s' %name)

In [82]:
greetings('Ironman')

I am Ironman

In [84]:
def addition(num1,num2):
    return num1+num2

In [85]:
addition(10,11)

21

In [88]:
result=addition(10,1)

In [89]:
print(result)

11

In [92]:
print(addition('two\t','one'))

two	one

In [15]:
def is_prime(num):
     
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else: 
        print('prime')

In [16]:
is_prime(11)

prime

In [13]:
def is_odd(num):
    mod= num%2
    if mod>0:
        print('Odd Number')
    else:  print('Not an odd Number')

In [8]:
is_odd(4)

Not an odd Number

In [9]:
is_odd(1)

Odd Number

In [10]:
is_odd(3)

Odd Number

In [17]:
import math

def is_prime(num):
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [18]:
is_prime(5)

True

In [19]:
is_prime(30)

False

In [22]:
print(list(range(3,5,10)))

[3]

In [25]:
print(list(range(3,2,4)))

[]

In [29]:
def gen(n):
    for num in range(n):
        yield num**3

In [30]:
for x in gen(18):
    print(x)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913

In [31]:
def fib(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [36]:
for num in fib(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [38]:
def fib(n):
    a = 1
    b = 1
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b,a+b
        
    return output

In [39]:
fib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [57]:
def gen():
    for x in range(5):
        yield x

In [58]:
g=gen()

In [59]:
print(next(g))

0

In [60]:
print(next(g))

1

In [61]:
print(next(g))

2

In [62]:
print(next(g))

3

In [63]:
print(next(g))

4

In [64]:
print(next(g))

StopIteration:

In [66]:
r='ironman'
for i in r:
    print(i)

i
r
o
n
m
a
n

In [69]:
r_iter=iter(r)
next(r_iter)

'i'

In [70]:
next(r_iter)

'r'

In [71]:
next(r_iter)

'o'

In [72]:
next(r_iter)

'n'

In [73]:
next(r_iter)

'm'

In [74]:
next(r_iter)

'a'

In [75]:
next(r_iter)

'n'

In [76]:
next(r_iter)

StopIteration:

In [77]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [0, 22.5, 40,100]

In [79]:
f_temp=list(map(fahrenheit,temp))
f_temp

[32.0, 72.5, 104.0, 212.0]

In [84]:
list(map(celsius,f_temp))

[0.0, 22.5, 40.0, 100.0]

In [85]:
list(map(lambda x: (5.0/9)*(x - 32), f_temp))

[0.0, 22.5, 40.0, 100.0]

In [86]:
a = [3,4,5,8]
b = [1,2,6,4]
c = [11,15,14,19]

list(map(lambda x,y:x+y, a,b))

[4, 6, 11, 12]

In [87]:
from functools import reduce
lst =[58,10,45,20]
reduce(lambda x,y: x+y,lst)

133

In [90]:
lst =range(15)
print(list(lst))

list(filter(even_check,lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

NameError: name 'even_check' is not defined